
body{
font-family: Arial, sans-serif;
background:#f4f4f4;
margin:0;
}

.topo{
background:#111;
color:white;
padding:20px;
text-align:center;
}

.logo{
height:70px;
display:block;
margin:auto;
margin-bottom:10px;
}

.container{
display:flex;
flex-wrap:wrap;
gap:30px;
padding:40px;
justify-content:center;
}

.card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 8px 25px rgba(0,0,0,0.1);
width:420px;
}

.resultado{
width:600px;
}

input,select{
width:100%;
padding:10px;
margin-bottom:12px;
border-radius:6px;
border:1px solid #ccc;
}

.btn{
background:#c7a23a;
color:white;
border:none;
padding:12px;
border-radius:6px;
cursor:pointer;
font-size:16px;
}

.btn:hover{
background:#b18f30;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th,td{
border:1px solid #ddd;
padding:6px;
text-align:center;
}

canvas{
margin-top:20px;
}

.acoes{
margin-top:20px;
display:flex;
gap:10px;
}
